<div class="col-md-10 mx-auto content" *ngIf="!showBye">
  <div class="row h-25 text-center">
    <div class="col">
      <h2> Un commentaire ? </h2>
      <form (ngSubmit)="submitComent(comentForm)" #comentForm="ngForm">
        <div class="form-group">
          <input id="commentaire" name="commentaire" type="text" class="form-control" [(ngModel)]="model.commentaire" #commentaire="ngModel"
            placeholder="Commentaire">
        </div>
        <button class="btn btn-primary" >Envoyer</button>
      </form>
    </div>
  </div>
</div>
<div class="col content bg-aurevoir" *ngIf="showBye">

  <div class="row h-100 d-flex align-items-center justify-content-center text-center p-4">
    <h1 class="titre-devis">Merci pour votre réponse, bonne journée !</h1>

  </div>
</div>